:root
{
    --dd-primary: #800080;
    --dd-primary-l: #970a97;
    --dd-primary-d: #640364;
    --dd-on-primary: #ffffff;
    --dd-on-primary-l: #ffffff;
    --dd-on-primary-d: #ffffff;
    
    --dd-secondary: #7FFF7F;
    --dd-secondary-l: #96ff81;
    --dd-secondary-d: #72f072;
    --dd-on-secondary: #000000;
    --dd-on-secondary-l: #000000;
    --dd-on-secondary-d: #000000;
    
    --dd-link: #008040;
    --dd-link-l: #07974f;
    --dd-link-d: #02753b;
    --dd-on-link: #ffffff;
    --dd-on-link-l: #ffffff;
    --dd-on-link-d: #ffffff;
    
    --dd-surface: #f5f5f5;
    --dd-surface-l: #ffffff;
    --dd-surface-d: #e7e7e7;
    --dd-on-surface: #333333;
    --dd-on-surface-l: #333333;
    --dd-on-surface-d: #333333;
    
    --dd-gray: #7e7e7e;
    --dd-gray-l: #8d8d8d;
    --dd-gray-d: #696969;
    --dd-on-gray: #ffffff;
    --dd-on-gray-l: #000000;
    --dd-on-gray-d: #ffffff;

    --dd-shadow-0: ;
    --dd-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --dd-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --dd-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --dd-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --dd-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    --dd-component-radius: 2px;

    --dd-transition: 300ms cubic-bezier(.25,.8,.25,1);

    --dd-font: 'Verdana', sans-serif;
}
/*
@media (prefers-color-scheme: dark)
{
    :root
    {
        --dd-surface: #120e14;
        --dd-surface-l: #120e14;
        --dd-surface-d: #120e14;
        --dd-on-surface: #ffffff;
        --dd-on-surface-l: #ffffff;
        --dd-on-surface-d: #ffffff;
        
        --dd-shadow-0: ;
        --dd-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), inset 0 0 1000vw rgba(255, 255, 255, 0.008);
        --dd-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), inset 0 0 1000vw rgba(255, 255, 255, 0.012);
        --dd-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 0 1000vw rgba(255, 255, 255, 0.016);
        --dd-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22), inset 0 0 1000vw rgba(255, 255, 255, 0.024);
        --dd-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22), inset 0 0 1000vw rgba(255, 255, 255, 0.032);
    }
}
*/